* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'consolata'; /* Use single quotes around the font family name. */
    src: url('C:/Users/Ansh/Desktop/conference-ticket-generator-main/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype-variations'); /* Corrected file path and added format */
  }

/* *for desktop-design only */

#background-desktop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#pattern-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#pattern-circle1 {
    position: relative;
    left: 5vw;
    top: -5rem;
    scale: 0.80;
}

#pattern-circle2 {
    position: fixed;
    scale: 0.78;
    top: 40vh;
    left: 67vw;

}

#squiggly-desktop {
    position: fixed;
    left: 0;
    bottom: 0;
}

#squiggly-top {
    position: fixed;
    right: 0;
    top: 4rem;
}

@media only screen and (min-width: 992px) {
    .desktop-asset {
        display: block;
    }
}


@media only screen and (max-width: 992px) {
    .desktop-asset {
        display: none;
    }
}


/* *For Tablet-design only* */

#background-tablet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#squiggly {
    position: fixed;
    left: -7.8rem;
    bottom: -7;
    scale: 0.67;
}

@media only screen and (min-width: 760px) {
    .tablet-asset {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .tablet-asset {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .tablet-asset {
        display: none;
    }
}

/* *For Mobile Design only* */

#background-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#squiggly-top-mobile {
    position: fixed;
    right: -4rem;
    top: 1rem;
    scale: 0.7;
}

#squiggly-mobile {
    position: fixed;
    left: -11.8rem;
    bottom: -9rem;
    scale: 0.5;
}


@media only screen and (max-width: 760px) {
    .mobile-asset {
        display: block;
    }
}


@media only screen and (min-width: 760px) {
    .mobile-asset {
        display: none;
    }
}


/* *FrontEnd* */

#logo-box {
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#heading {
    position: relative;
    text-align: center;
    font-family:  'consolata', monospace;
    color: white;
    top: -8rem;
}

#heading-description{
    position: relative;
    text-align: center;
    top: -7rem;
    font-family:  'consolata', monospace;
    color: hsl(245, 19%, 35%);
    font-size: 15px;
}

/*  */
