* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolata', monospace;
    color: white;
}

@font-face {
    font-family: 'consolata';
    src: url('assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
}

/* *for desktop-design only */

#background-desktop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#pattern-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#pattern-circle1 {
    position: relative;
    left: 5vw;
    top: -5rem;
    scale: 0.80;
}

#pattern-circle2 {
    position: fixed;
    scale: 0.78;
    top: 40vh;
    left: 67vw;

}

#squiggly-desktop {
    position: fixed;
    left: 0;
    bottom: 0;
}

#squiggly-top {
    position: fixed;
    right: 0;
    top: 4rem;
}

@media only screen and (min-width: 992px) {
    .desktop-asset {
        display: block;
    }
}


@media only screen and (max-width: 992px) {
    .desktop-asset {
        display: none;
    }
}


/* *For Tablet-design only* */

#background-tablet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#squiggly {
    position: fixed;
    left: -7.8rem;
    bottom: -7;
    scale: 0.67;
}

@media only screen and (min-width: 760px) {
    .tablet-asset {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .tablet-asset {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .tablet-asset {
        display: none;
    }
}

/* *For Mobile Design only* */

#background-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#squiggly-top-mobile {
    position: fixed;
    right: -4rem;
    top: 1rem;
    scale: 0.7;
}

#squiggly-mobile {
    position: fixed;
    left: -11.8rem;
    bottom: -9rem;
    scale: 0.5;
}


@media only screen and (max-width: 760px) {
    .mobile-asset {
        display: block;
    }
}


@media only screen and (min-width: 760px) {
    .mobile-asset {
        display: none;
    }
}


/* *FrontEnd* */

#logo-box {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#heading1, #heading2 {
    position: relative;
    text-align: center;
    /* font-family: 'consolata', monospace; */
    color: white;
    top: -10rem;
    font-size: 2.5rem;
}

#heading-description {
    position: relative;
    text-align: center;
    top: -2.5rem;
    /* font-family: 'consolata', monospace; */
    color:  hsl(252, 6%, 83%);
    font-size: 15px;
}

@media only screen and (max-width: 540px) {
    #heading1{
        display: none;
    }
    #heading2{
        display: block;
    }
}

@media only screen and (min-width: 540px) {
    #heading1{
        display: block;
    }
    #heading2{
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    #heading2{
        font-size: 1.5em;
    }
    #heading-description{
        font-size: 0.7em;
        top: -5rem;
    }
    #forum{
        width: 250px;
    }
}



/*  */


#forum {
    position: relative;
    top: -6em;
    justify-self: center;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}



#submit-btn {
    width: 100%;
}

input[type="file"] {
    display: none;
}

#true-label {
    border: 2px hsl(245, 15%, 58%) dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: hsla(245, 19%, 35%, 0.5);
}

#upload-desc{
    color: white;
    /* font-family: 'consolata', monospace; */
}

#upload-img{
    padding: 1em;
    background-color: hsla(245, 19%, 35%, 0.3);
    border-radius: 10px;
}

#img-legend{
    color: white;
    /* font-family: 'consolata', monospace; */
}

/* #img-info-img{
    filter: invert(13%) sepia(99%) saturate(7492%) hue-rotate(3deg) brightness(98%) contrast(117%);
} */

#img-info, #mail-info, #git-info{
    gap: 3px;
    margin-top: 5px;
}

#img-info-desc, #mail-info-desc, #git-info-desc{
    color: hsla(252, 6%, 83%,0.3);
    font-size: small;
    text-align: center;
    margin-top: 1.5px;
}

#name-legend{
    margin-top: 1em;
}


.txt-ip{
    background-color: hsla(245, 19%, 35%, 0.5);
    padding: 0.7em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    border: 2px hsl(245, 15%, 58%) solid;
}


#submit-btn{
    background-color: hsl(7, 71%, 60%);
    padding: 0.7em;
    margin-top: 1em;
    border: none;
    border-radius: 0.5em;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 460px) {
    #forum{
        width: 80vw;
    }
    #img-info-desc, #mail-info-desc, #git-info-desc{
        margin-top: 3px;
        font-size: 10px;
    }

}

#rem-img, #change-img{
    background-color:  hsla(245, 19%, 35%, 0.3);
    padding: 0.5em;
    border: none;
    border-radius: 0.4rem;
}

#change-img{
    margin-left: 0.5rem;
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}